{% extends 'usuarios/base_user.html' %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}
<div class="card auth-card text-center">
    <div class="card-body">
        <h3 class="card-title mb-4">Cambio de Contraseña</h3>
        
        <p>Se te ha enviado un correo con instrucciones para cambiar tu contraseña.</p>
        <div class="d-grid mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary">Ir a Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock %}