{% extends 'usuarios/base_user.html' %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}
<div class="card auth-card text-center">
    <div class="card-body">
        <h3 class="card-title mb-4">Cambio de Contraseña</h3>
        <p>Ingresa el correo electrónica asociado a tu cuenta para recibir instrucciones para cambiar tu contraseña.</p>
        <label for="email">Correo Electrónico</label>
        <input type="text" id="email">
        <div class="d-grid mt-4">
            <a href="{% url 'password_reset_confirmed' %}" class="btn btn-primary">Enviar Correo</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>
{% endblock %}